<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%p|%d{yyy-MM-dd HH:mm:ss.SSS}|%t|%C{1}|%M|%F|%L|%msg%n"/>
        </Console>
        <File name="FileAppender" fileName="/logs/kcp/root.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="FileAppender"/>
        </Root>
        <Logger name="ke.co.meliora" level="INFO">
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>